registry=https://artifacts.rbi.tech/artifactory/api/npm/npmjs-org-npm-proxy/
@rbal-modern-luka:registry=https://artifacts.rbi.tech/artifactory/api/npm/rbal-modern-luka-npm-host/
legacy-peer-deps=true
